<%- include header2 %>
<div class="untermenueinhalt menueinhalt">
    <div class="ueberschrift-balken grau">
      Auswertungen<img src="\bilder\auswertungen.svg">
    </div>
    <a class="gruen btn btn-gross" href="/auswertungen/bilanz" role="button">Nährstoffbilanz
      <div class="menue-icon">
        <img src="\bilder\fuetterungen.svg">
      </div>
    </a>
    <a class="gruen btn btn-gross" href="/auswertungen/abnahmevertraege" role="button">Abnahmeverträge
  <div class="menue-icon">
    <img src="\bilder\abgaben.svg">
  </div>
</a>
</div>
<%- include footer %>
