<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Nährstoffmanager</title>
    <link rel='stylesheet' href='/styles/normalize.css' />
    <link rel='stylesheet' href='/styles/styles2.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/bilder/bga.png">
</head>
<body>
<div class="menue">
  <div class="menueheader">
    <div class="logo">
      <img src="\bilder\logo.svg">
    </div>
    <div class="biogas">
      BIOGAS
    </div>
    <div class="nsm">
      Nährstoffmanager
    </div>
  </div>
  <div class="menueinhalt">
    <div class="ueberschrift">
      MENÜ
    </div>
    <a class="fuetterungen gruen btn btn-gross" href="/buchen/fuetterungen" role="button">Fütterungen
      <div class="menue-icon">
        <img src="\bilder\fuetterungen.svg">
      </div>
    </a>
    <a class="abgaben gruen btn" href="/buchen/abgaben" role="button">Abgaben
  <div class="menue-icon">
    <img src="\bilder\abgaben.svg">
  </div>
</a>
    <a class="zugaenge gruen btn" href="/buchen/zugaenge" role="button">Zugänge
  <div class="menue-icon">
    <img src="\bilder\zugaenge.svg">
  </div>
</a>
    <a class="btn auswertungen grau" href="/auswertungen" role="button">Auswertungen
  <div class="menue-icon">
    <img src="\bilder\auswertungen.svg">
  </div>
</a>
    <a class="btn stammdaten grau" href="/buchen/stammdaten" role="button">Stammdaten
  <div class="menue-icon">
    <img src="\bilder\stammdaten.svg">
  </div>
</a>
  </div>
  <div class="menuefooter">
    <a class="impressum" href="#">Impressum</a>
    <a href="#">Abmelden</a>
  </div>
</div>
