   <%- include header %>
      <div class="container">
      <div class="hauptblock">
        <h1>Hauptmen체</h1>
        <% if (message.length > 0) { %>
          <div class="alert">
            <%= message %>
          </div>
          <% } %>
        <h2>Buchen</h2>
        <p>
          <a class="btn" href="/buchen/fuetterungen" role="button">F체tterungen</a>
        </p>
        <p>
          <a class="btn" href="/buchen/zugaenge" role="button">Zug채nge</a>
        </p>
        <p>
          <a class="btn" href="#" role="button">Abg채nge</a>
        </p>
        <h2>Auswertungen</h2>
        <p>
          <a class="btn" href="#" role="button">Auswertung 1</a>
        </p>
        <p>
          <a class="btn" href="#" role="button">Auswertung 2</a>
        </p>
        <p>
          <a class="btn" href="#" role="button">Alle Auswertungen</a>
        </p>
        <h2>Stammdaten</h2>
        <p>
          <a class="btn" href="#" role="button">Personendaten</a>
        </p>
        <p>
          <a class="btn" href="#" role="button">Biogasanlage</a>
        </p>
        <p>
          <a class="btn" href="#" role="button">Alle Stammdaten</a>
        </p>
      </div>
      </div>
    <%- include footer %>
