<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Nährstoffmanager</title>
  <link rel='stylesheet' href='/styles/normalize.css' />
  <link rel='stylesheet' href='/styles/styles.css' />
  <link rel="shortcut icon" type="image/x-icon" href="/bilder/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/bilder/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/bilder/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/bilder/favicon-16x16.png">
  <link rel="manifest" href="/bilder/site.webmanifest">
  <link rel="mask-icon" href="/bilder/safari-pinned-tab.svg" color="#009343">
  <meta name="msapplication-TileColor" content="#dedede">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <div class="container header-container">
    <a href="/hauptmenue">
      <div class="header">
        <div class="logo">
          <img src="\bilder\logo.svg">
        </div>
        <div class="biogas">
          BIOGAS
        </div>
        <div class="nsm">
          Nährstoffmanager
        </div>
      </div>
    </a>
    <nav>
      <div class="navbar">
        <ul class="nav">
          <li>
            <a href="/abmelden">
              <div class="icon-click">
                <img src="\bilder\abmelden.png">
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="ueberschrift-balken buchungen grau">
    <div class="ueberschrift-balken-inhalt balken-menue">
      <% if (headerTitel.length > 0) { %>
      <%= headerTitel %>
      <% } %>
    </div>
  </div>
  <div class="menueinhalt mobil">
    <a class="fuetterungen gruen btn btn-gross btn-left" href="/buchen/fuetterungen" role="button">Fütterungen
      <div class="menue-icon">
        <img src="\bilder\fuetterungen.svg">
      </div>
    </a>
    <a class="zugaenge gruen btn" href="/buchen/zugaenge" role="button">Zugänge
  <div class="menue-icon">
    <img src="\bilder\zugaenge.svg">
  </div>
</a>
    <a class="abgaben gruen btn btn-left" href="/buchen/abgaben" role="button">Abgaben
  <div class="menue-icon">
    <img src="\bilder\abgaben.svg">
  </div>
</a>
<a class="btn auswertungen gruen btn-left" href="/auswertungen" role="button">Auswertungen
  <div class="menue-icon">
    <img src="\bilder\auswertungen.svg">
  </div>
</a>
    <a class="btn stammdaten gruen" href="/stammdaten" role="button">Stammdaten
  <div class="menue-icon">
    <img src="\bilder\stammdaten.svg">
  </div>
</a>
  </div>

  <!-- Desktop-Menü -->
  <div class="menueinhalt desktop">
    <div class="buchungen menuespalte">
      <h2>Buchungen</h2>
      <a class="fuetterungen gruen btn btn-gross" href="/buchen/fuetterungen" role="button">Fütterungen
        <div class="menue-icon">
          <img src="\bilder\fuetterungen.svg">
        </div>
      </a>
      <a class="zugaenge gruen btn" href="/buchen/zugaenge" role="button">Zugänge
        <div class="menue-icon">
          <img src="\bilder\zugaenge.svg">
        </div>
      </a>
      <a class="abgaben gruen btn" href="/buchen/abgaben" role="button">Abgaben
        <div class="menue-icon">
          <img src="\bilder\abgaben.svg">
        </div>
      </a>
    </div>
    <div class="auswertungen menuespalte">
      <h2>Auswertungen</h2>
      <a class="gruen btn btn-gross" href="/auswertungen/bilanz" role="button">Nährstoffbilanz
        <div class="menue-icon">
          <img src="\bilder\bilanz.svg">
        </div>
      </a>
      <a class="gruen btn btn-gross" href="/auswertungen/abnahmevertraege" role="button">Abnahmeverträge
    <div class="menue-icon">
      <img src="\bilder\abnahmevertraege.svg">
    </div>
  </a>
    </div>
    <div class="stammdaten menuespalte">
      <h2>Stammdaten</h2>
      <a class="gruen btn btn-gross" href="/daten/analysen" role="button">Analysen
        <div class="menue-icon">
          <img src="\bilder\analysen.svg">
        </div>
      </a>
      <a class="gruen btn btn-gross" href="/daten/abnahmevertraege" role="button">Abnahmeverträge
        <div class="menue-icon">
          <img src="\bilder\abnahmevertraege-d.svg">
        </div>
      </a>
      <a class="gruen btn btn-gross" href="/daten/betriebe" role="button">Betriebe
        <div class="menue-icon">
          <img src="\bilder\betriebe.svg">
        </div>
      </a>
      <a class="gruen btn btn-gross" href="/daten/rohstoffe" role="button">Rohstoffe
        <div class="menue-icon">
          <img src="\bilder\rohstoffe.svg">
        </div>
      </a>
      <a class="gruen btn btn-gross" href="/daten/lager" role="button">Lager
        <div class="menue-icon">
          <img src="\bilder\lager.svg">
        </div>
      </a>
    </div>
  </div>
  <%- include footer %>
