<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Nährstoffmanager</title>
    <link rel='stylesheet' href='/styles/styles.css' />
    <link rel="shortcut icon" type="image/x-icon" href="/bilder/bga.png">
</head>
<body>
  <div class="container">
    <nav class="navbar">
        <div id="navbar">
          <ul class="nav">
            <li class="active"><a href="/hauptmenue">Start</a></li>
          </ul>
          <ul class="nav navbar-right">
            <li><a href="/abmelden">Abmelden</a></li>
          </ul>
        </div>
    </nav>
