<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Nährstoffmanager</title>
  <link rel='stylesheet' href='/styles/normalize.css' />
  <link rel='stylesheet' href='/styles/styles.css' />
  <link rel="shortcut icon" type="image/x-icon" href="/bilder/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/bilder/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/bilder/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/bilder/favicon-16x16.png">
  <link rel="manifest" href="/bilder/site.webmanifest">
  <link rel="mask-icon" href="/bilder/safari-pinned-tab.svg" color="#009343">
  <meta name="msapplication-TileColor" content="#dedede">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="container header-container <% if (headerClass.length > 0) { %><%= headerClass %><% } %>">
    <a href="/hauptmenue">
      <div class="header">
        <div class="logo">
          <img src="\bilder\logo.svg">
        </div>
        <div class="biogas">
          BIOGAS
        </div>
        <div class="nsm">
          Nährstoffmanager
        </div>
      </div>
    </a>
    <nav class="mobile-nav">
      <div class="navbar">
        <ul class="nav">
          <li>
            <a href="/abmelden">
              <div class="icon-click">
                <img src="\bilder\abmelden.png">
              </div>
            </a>
          </li>
          <li>
            <a href="/hauptmenue">
              <div class="icon-click">
                <img src="\bilder\menue.png">
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="desktop-nav">
      <ul>
        <li class="abmelden">
          <a href="/abmelden">
            <div class="icon-click">
              <img src="\bilder\abmelden.png">
            </div>
          </a>
        </li>
        <li class="li_hc"><a href="#" target="_self" >Stammdaten</a>
          <ul class="ul_ch">
            <li class="li_nc"><a href="#" target="_self" >Analysen</a></li>
            <li class="li_nc"><a href="#" target="_self" >Rohstoffe</a></li>
            <li class="li_nc"><a href="#" target="_self" >Lager</a></li>
            <li class="li_nc"><a href="#" target="_self" >Betriebe</a></li>
            <li class="li_nc"><a href="#" target="_self" >Abnahmeverträge</a></li>
          </ul>
        </li>
        <li class="li_hc"><a href="#" target="_self" >Auswertungen</a>
          <ul class="ul_ch">
            <li class="li_nc"><a href="#" target="_self" >Nährstoffbilanz</a></li>
            <li class="li_nc"><a href="#" target="_self" >Abnahmeverträge</a></li>
          </ul>
        </li>
        <li class="li_hc"><a href="#" target="_self" >Buchungen</a>
          <ul class="ul_ch">
            <li class="li_hc"><a href="#" target="_self" >Fütterungen</a></li>
            <li class="li_nc"><a href="#" target="_self" >Abgaben</a></li>
            <li class="li_nc"><a href="#" target="_self" >Zugänge</a></li>
          </ul>
        </li>
        <li class="li_hc"><a href="#" target="_self" >Menü</a></li>
      </ul>
    </nav>
  </div>
  <div class="ueberschrift-balken buchungen grau <% if (headerClass.length > 0) { %><%= headerClass %><% } %>">
    <div class="ueberschrift-balken-inhalt">
      <% if (headerTitel.length > 0) { %>
      <%= headerTitel %>
      <% } %><img src="\bilder\<% if (headerBild.length > 0) { %><%= headerBild %><% } %>">
    </div>
    </div>
