<%- include header %>
<div class="impressum-block inhalt">
  <h2>Kontakt</h2>
  <div>
    Henner Brü<span style="display: none;">00</span>njes <br>
    henner.bruen<span style="display: none;">00</span>jes@<span style="display: none;">00</span>posteo.de
  </div>
</div>
<style media="screen">
  .impressum {
    display: none;
  }
</style>
<%- include footer %>