<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Anmelden</title>
  <link rel='stylesheet' href='/styles/styles.css' />
  <link rel="shortcut icon" type="image/x-icon" href="/bilder/favicon-32x32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/bilder/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/bilder/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/bilder/favicon-16x16.png">
  <link rel="manifest" href="/bilder/site.webmanifest">
  <link rel="mask-icon" href="/bilder/safari-pinned-tab.svg" color="#009343">
  <meta name="msapplication-TileColor" content="#dedede">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="anmelden">
  <div class="">
    <div class="hintergrund">
    </div>
    <div class="loginbox">
      <div class="loginbox-body">
        <div class="logo">
          <img src="\bilder\logo.svg" alt="">
        </div>
        <h1>BIOGAS</h1>
        <h2>Nährstoffmanager</h2>
        <% if (message.length > 0) { %>
          <div class="alert">
            <%= message %>
          </div>
          <% } %>
            <form class="loginform" role="form" method="post" action="/anmelden">
              <div class="form-group">
                <label for="name" class="control-label">Benutzername</label>
                <input id="login-username" type="text" class="form-control" name="name" value="">
              </div>
              <div class="form-group">
                <label for="name" class="passwort">Passwort</label>
                <input id="login-password" type="password" class="form-control" name="passwort">
              </div>
              <div class="form-group">
                <div>
                  <button id="btn-login" type="submit" class="btn gruen btn-login">Anmelden</button>
                </div>
              </div>
            </form>
      </div>
    </div>

  </div>
</body>

</html>
