<%- include header2 %>
<div class="untermenueinhalt menueinhalt stammdatenmenue">
    <div class="ueberschrift-balken grau">
      Stammdaten<img src="\bilder\stammdaten.svg">
    </div>
    <a class="gruen btn btn-gross" href="/daten/analysen" role="button">Analysen
      <div class="menue-icon">
        <img src="\bilder\fuetterungen.svg">
      </div>
    </a>
    <a class="gruen btn btn-gross" href="/daten/rohstoffe" role="button">Rohstoffe
      <div class="menue-icon">
        <img src="\bilder\fuetterungen.svg">
      </div>
    </a>
    <a class="gruen btn btn-gross" href="/daten/lager" role="button">Lager
      <div class="menue-icon">
        <img src="\bilder\fuetterungen.svg">
      </div>
    </a>
    <a class="gruen btn btn-gross" href="/daten/betriebe" role="button">Betriebe
      <div class="menue-icon">
        <img src="\bilder\fuetterungen.svg">
      </div>
    </a>
    <a class="gruen btn btn-gross" href="/daten/abnahmevertraege" role="button">Abnahmeverträge
  <div class="menue-icon">
    <img src="\bilder\fuetterungen.svg">
  </div>
</a>
</div>
<%- include footer %>
