/* Fonts */
@font-face {
  font-family: "OpenSans";
  src: url(../open-sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../open-sans/OpenSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url(../open-sans/OpenSans-Light.ttf);
  font-weight: lighter;
}
/* Styles */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #575756;
  font-family: "OpenSans", Arial, sans-serif;
}
body {
  background-color: #dedede;
  margin: 0;
}
h1 {
  color: #009245;
  font-size: 35px;
font-weight: 700;
line-height: 42px;
margin: 10px 0 0;
text-align: center;
}
h2 {
  color: #009245;
  font-size: 28px;
font-weight: 300;
line-height: 34px;
margin: 0;
text-align: center;
}
label {
  font-size: 14px;
}
form {
  margin: 0;
}
.container {
  background-color: #fff;
  margin: 20px auto 0;
  max-width: 340px;
  width: 100%;
}
/* Allgemein */
.hauptblock {
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  padding: 0 20px 20px;
  width: 100%;
}
.form-group {
  margin-top: 10px;
}
.nodisplay {
  display: none;
}
.desktop {
  display: none;
}
fieldset,
input,
select {
  border: 1px solid #9c9a9a;
}
a.btn,
button,
fieldset,
input,
select {
  box-sizing: border-box;
  height: 42px;
  max-width: 300px;
  width: 100%;
}
a.btn,
button {
  border: none;
}
input,
select {
  margin-top: 5px;
  padding-left: 10px;
}
select {
  cursor: pointer;
}
input:hover {
  border: 1px solid #282828;
}
select:hover {
  border: 1px solid #282828;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.select-wrapper {
  position: relative;
}
.select-wrapper:before {
  content: "∨";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 5px;
  color: #c1c1c1;
}
.select-wrapper:before {
  pointer-events: none;
}
.checkboxen {
  margin-top: 28px;
}
a.btn {
  display: inline-block;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
}
a.btn,
button {
  min-height: 40px;
box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
background-color: #306C8D;
line-height: 19px;
font-size: 16px;
text-align: center;
color: #FFFFFF;
}
a.btn:hover {
  background: #245360;
}
button:hover {
  background: #245360;
}
#btn-buchen,
#btn-login {
  margin-top: 15px;
}
.alert {
  color: red;
}
/* Anmeldeseite */
#hintergrund {
  background: -webkit-gradient(linear, center top, center bottom, from(#9C9A9A),color-stop(26%, #575756));
  background: -webkit-linear-gradient(top,#9C9A9A ,#575756 142px);
  background: linear-gradient(to bottom,#9C9A9A ,#575756 142px);
  height: 162px;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  width: 116px;
}

#loginbox {
  margin: -55px auto 0;
  width: 240px;
}
#loginform {
  margin-top: 35px;
}
/* Menü */
.menue {
  background-color: #dedede;
  padding: 20px;
}
.menueheader,
.menueinhalt {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
.menueheader {
  margin-bottom: 10px;
  padding: 5px 20px 12px;
}
.menueheader .logo {
  float: left;
  margin-right: 10px;
  width: 103px;
}
.menueheader .biogas {
  color: #009245;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 5px;
}
.menueheader .nsm {
  color: #009245;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
.menueinhalt {
  padding: 20px 20px 0;
}
.menueinhalt .ueberschrift {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
}
.menueinhalt .gruen {
  background-color: #009245;
}
.menueinhalt .gruen:hover {
  background-color: #027538;
}
.menueinhalt .grau {
  background-color: #575756;
}
.menueinhalt .grau:hover {
  background-color: #454545;
}
.menueinhalt .btn {
  height: 100px;
  margin-bottom: 20px;
  width: 130px;
}
.menueinhalt .fuetterungen {
  margin-bottom: 20px;
  width: 280px;
}
.menueinhalt .abgaben,
.menueinhalt .auswertungen {
  margin-right: 14px;
}

.menueinhalt .menue-icon {
  margin: 15px auto 0;
  width: 40px;
}
.menuefooter {
  margin-top: 20px;
  text-align: center;
}
.menuefooter a {
  text-decoration: none;
}
.menuefooter .impressum {
  margin-right: 70px;
}
/* Navigation */
#nav-container {
  margin-top: 0;
}
.navbar {
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  height: 45px;
  margin-top: 10px;
  width: 100%;
}
.nav {
  float: left;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.nav a {
  background-color: #eee;
  border-radius: 10px 0 0 10px;
  display: inline-block;
  padding: 12.5px;
  text-decoration: none;
}
.nav a:hover {
  background-color: #e1e1e1;
}
.navbar-right {
  float: right !important;
}
.navbar-right a {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  display: inline-block;
  padding: 12.5px;
  text-decoration: none;
}
#bilanz-tabelle #zeitraum,
#abnahmevertraege-tabelle #zeitraum {
  margin-top: 10px;
}
.buchungen .table-wrap {
  padding-top: 37px;
  position: relative;
}
.buchungen .table {
  max-height: 200px;
  overflow-y: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  width: 100%;
}
thead.sticky th {
  color: transparent;
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  white-space: nowrap;
}
th div {
  position: absolute;
  background: transparent;
  color: #282828;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
}
th div#abgaben-menge {
  padding-top: 0;
}
th div#abgaben-abnehmer {
  padding-left: 30px;
}
tr {
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  height: 37px;
}
tr:hover {
  background-color: #ccc;
}
tr.th {
  cursor: inherit;
  height: 0;
}
td {
  padding: 0 5px;
}
.t-id {
  display: none;
}
.t-rechts {
  text-align: right;
}

}
/* Diagramme */
svg.bar-chart g g:first-of-type,
svg.bar-chart g g:last-of-type {
  display: none;
}

#bd-bilanz .bar-chart rect{
  fill: #4B610B;
}
#bd-bilanz .bar-chart rect:nth-child(odd){
  fill: #38610B;
}

#pie {
  position: relative;
}
svg.kreisdiagramm {
  position: absolute;
  left: 0;
}
svg.kreisdiagramm text {
  font-size: 10px;
  text-anchor: middle;
}
svg.kreisdiagramm path {
  stroke: #ccc;
}
@media screen and (min-width:960px) {
   .desktop-tc {
      display: table-cell;
   }
}
