/* Fonts */
@font-face {
  font-family: "OpenSans";
  src: url(../open-sans/OpenSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../open-sans/OpenSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url(../open-sans/OpenSans-Light.ttf);
  font-weight: lighter;
}
/* Allgemein ***********************************************************************************************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #575756;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
body {
  background-color: #dedede;
  margin: 0;
}
body.anmelden {
  background-color: #fff;
  margin: 0;
}
h1 {
  color: #009245;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  margin: 10px 0 0;
  text-align: center;
}
h2 {
  color: #009245;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
thead.sticky th {
  color: transparent;
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  white-space: nowrap;
}
th div {
  position: absolute;
  background: transparent;
  color: #282828;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
}
tr {
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  height: 37px;
}
tr:hover {
  background-color: #ccc;
}
tr.th {
  cursor: inherit;
  height: 0;
}
td {
  padding: 0 5px;
}
.cursor-default {
  cursor: default;
}
.t-id {
  display: none;
}
.t-rechts {
  text-align: right;
}
.header-container {
  height: 65px;
  margin-top: 0;
  padding: 10px 20px;
  position: relative;
  width: 320px;
  z-index: 10;
}
.header-container a {
  text-decoration: none;
}
.header {
  width: 200px;
}
.header .logo {
  float: left;
  margin-right: 10px;
  width: 68px;
}
.header .biogas {
  color: #009245;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
}
.header .nsm {
  color: #009245;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.desktop-nav {
  display: none;
}
.navbar {
  height: 30px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  float: right;
}
.navbar a {
  display: inline-block;
  float: right;
  margin-left: 15px;
  text-decoration: none;
  width: 20px;
}
.navbar .icon-click {
  height: 30px;
  margin-top: -5px;
  position: relative;
  width: 30px;
}
.navbar img,
.desktop-nav img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -13.5px;
  margin-top: -13.5px;
  transform: scale(0.9);
  width: 25px;
}
.navbar img:hover {
  transform: scale(1);
}
.container {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}
.ueberschrift-tabelle {
  border-top: 1px solid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 280px;
}
.ueberschrift-tabelle h2 {
  margin-bottom: 10px;
}
.footer {
  clear: both;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.footer a {
  font-size: 16px;
  text-decoration: none;
  font-weight: normal;
  transition: text-shadow .3s;
}
.footer a:hover {
  text-shadow: 0 0 .35px #575756, 0 0 .35px #575756;
}
.nodisplay,
.form-group a.nodisplay {
  display: none;
}
.desktop {
  display: none;
}
.alert {
  color: red;
}
.gruen {
  background-color: #009245;
}
.gruen:hover {
  background-color: #027538;
}
.gruen:disabled {
  background-color: #00b656;
}
.grau {
  background-color: #575756;
}
.grau:hover {
  background-color: #454545;
}
.ueberschrift-balken {
  height: 42px;
  margin: 0 auto;
  padding-top: 8px;
  position: relative;
  text-align: center;
  width: 100%;
}
.ueberschrift-balken-inhalt {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin-left: -20px;
  padding-top: 2px;
}
.ueberschrift-balken.grau:hover {
  background-color: #575756;
}
.ueberschrift-balken.gruen:hover {
  background-color: #009245;
}
.ueberschrift-balken img {
  margin-left: 10px;
  position: absolute;
  top: 6px;
  width: 30px;
}
/* Anmeldung ***********************************************************************************************************/
.hintergrund {
  background: -webkit-gradient(linear, center top, center bottom, from(#d5d5d5), color-stop(26%, #bcbcbc));
  background: -webkit-linear-gradient(top, #d5d5d5, #bcbcbc 142px);
  background: linear-gradient(to bottom, #d5d5d5, #bcbcbc 142px);
  height: 162px;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  width: 116px;
}
.loginbox {
  margin: -55px auto 0;
  width: 280px;
}
.loginbox h2 {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}
.loginform {
  margin-top: 35px;
  padding-top: 0;
}
.btn-login {
  margin-bottom: 50px;
  margin-top: 20px;
}
/* Menüseiten ***********************************************************************************************************/
.menue {
  background-color: #dedede;
}
.balken-menue {
  margin-left: 0px;
}
.menueheader, .menueinhalt {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
.menueinhalt.desktop {
  display: none;
}
.menueheader {
  margin-bottom: 20px;
  padding: 5px 20px 12px;
}
.menueheader .logo {
  float: left;
  margin-right: 10px;
  width: 103px;
}
.menueheader .biogas {
  color: #009245;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 5px;
}
.menueheader .nsm {
  color: #009245;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
.menueinhalt {
  padding: 20px calc((100% - 320px) /2) 0;
  width: 100%;
}
.menueinhalt .ueberschrift {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
}
.menueinhalt .ueberschrift-balken {
  margin-bottom: 20px;
}
.menueinhalt .btn {
  height: 100px;
  margin-bottom: 20px;
  width: 130px;
}
.menueinhalt .btn-gross {
  margin-bottom: 20px;
  width: 280px;
}
.menueinhalt .btn-left {
  margin-left: calc((100% - 280px) / 2);
}
.menueinhalt .abgaben, .menueinhalt .auswertungen {
  margin-right: 14px;
}
.menueinhalt .menue-icon {
  margin: 15px auto 0;
  width: 40px;
}
.menuefooter {
  margin-top: 20px;
  text-align: center;
}
.menuefooter a {
  text-decoration: none;
}
.menuefooter .impressum {
  margin-right: 70px;
}
.untermenueinhalt {
  text-align: center;
}
.stammdatenmenue .btn {
  height: 10%;
  margin-bottom: 2%;
  min-height: 60px;
}
.stammdatenmenue .btn:last-of-type {
  margin-bottom: 20px;
}
.stammdatenmenue .menue-icon {
  margin-top: 5px;
  width: 20px;
}
/* Buchungsseiten ******************************************************************************************************/
.formular h2 {
  margin-bottom: 10px;
}
label {
  font-size: 14px;
}
form {
  margin: 0 auto;
  padding-top: 15px;
  width: 280px;
}
.formular {
  padding-bottom: 10px;
}
.form-group {
  margin-top: 10px;
}
input, select {
  border: 1px solid #9c9a9a;
}
a.btn, button, fieldset, input, select {
  box-sizing: border-box;
  height: 42px;
  max-width: 300px;
  width: 100%;
}
a.btn, button {
  border: none;
}
input, select {
  margin-top: 5px;
  padding-left: 10px;
}
select {
  cursor: pointer;
}
input:hover {
  border: 1px solid #282828;
}
select:hover {
  border: 1px solid #282828;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type=checkbox] {
  margin-left: 4px;
  transform: scale(1.5);
}
.checkboxen label {
  margin-right: 15px;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.stoffart {
  margin-bottom: -10px;
  margin-top: 25px;
}
.stoffart label {
  height: 30px;
  width: 135px;
}
.stoffart label span {
  border: 1px solid #9c9a9a;
  font-size: 15px;
  line-height: 18px;
  padding: 10px 21px;
  text-align: center;
}
.stoffart label input {
  display: none;
}
.stoffart input[type="radio"]+span:hover {
  border: 1px solid #282828;
  box-sizing: border-box;
}
.stoffart input[type="radio"]:checked+span {
  border: 2px solid #009245;
  box-sizing: border-box;
}
.select-wrapper {
  position: relative;
}
.select-wrapper:before {
  content: "∨";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  color: #c1c1c1;
  pointer-events: none;
}
.checkboxen {
  margin-top: 28px;
}
a.btn {
  display: inline-block;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
}
a.btn, button {
  min-height: 40px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  line-height: 19px;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}
.btn-buchen, .btn-login, .btn-anzeigen {
  margin-top: 15px;
}
.btn-abbrechen {
  margin-bottom: 10px;
}
.buchungen .table-wrap {
  padding-top: 37px;
  position: relative;
}
.buchungen .table {
  max-height: 200px;
  overflow-y: auto;
}
/* Abgaben */
th .abgaben-menge {
  padding-top: 0;
}
th .abgaben-abnehmer {
  padding-left: 30px;
}
.analysen-tabelle th, .analysen-tabelle th div, .analysen-tabelle td {
  font-size: 12px;
}
.tabelle {
  padding-bottom: 20px;
}
/* Auswertungsseiten ***************************************************************************************************/
.tabelle-auswertung {
  padding-top: 20px;
}
.tabelle-auswertung .hauptblock {
  margin: auto;
  width: 280px;
}
.tabelle-auswertung tr:hover {
  background-color: initial;
}
.diagramm-beschriftung {
  background-color: #fff;
  margin: auto;
  padding-bottom: 20px;
  padding-left: 18px;
  width: calc(100% - 40px);
}
.kd-abnahmevertraege {
  background-color: #fff;
  height: 95vw;
  max-height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Diagramme */
svg.bar-chart g g:first-of-type, svg.bar-chart g g:last-of-type {
  display: none;
}
.bd-bilanz {
  padding-left: 20px;
}
.bd-bilanz .bar-chart rect {
  fill: #F28C00;
}
.bd-bilanz .bar-chart rect:nth-child(odd) {
  fill: #003B4D;
}
.kd-abnahmevertraege {
  padding-left: 10px
}
.pie {
  position: relative;
}
svg.kreisdiagramm {
  position: absolute;
  left: 0;
}
svg.kreisdiagramm text {
  font-size: 10px;
  text-anchor: middle;
}
svg.kreisdiagramm path {
  stroke: #ccc;
}
/* Media Queries *******************************************************************************************************/
@media screen and (min-width:360px) {
  .menue {
    padding: 20px;
  }
  .container,
  .ueberschrift-balken,
  .menueinhalt {
    width: calc(100% - 40px);
  }
}
@media screen and (min-width:700px) {
  /* Header */
  .container {
    max-width: 320px;
  }
  .header-container {
    max-width: 660px;
    width: 660px;
  }
  .header {
    float: left;
    width: 200px;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: initial;
  }
  .desktop-nav {
    float: right;
    width: 400px;
    padding: 7px 0 0;
  }
  .desktop-nav ul {
    float: left;
    width: 100%;
    list-style: none;
    line-height: 1;
    color: #009245;
    background: #FFFFFF;
    padding: 0;
    margin: 0 0 1em 0;
  }
  .desktop-nav a, .desktop-nav a:visited {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    text-decoration: underline;
    color: #009245;
    text-decoration: none;
    padding: 0.8em 0.6em;
  }
  .desktop-nav ul ul a {
    width: 100%;
    height: 100%;
  }
  .desktop-nav ul a {
    width: 1%;
  }
  .desktop-nav li {
    float: left;
    margin: 0;
    padding: 0;
  }
  .desktop-nav ul li {
    float: right;
    position: relative;
  }
  .desktop-nav ul li a {
    white-space: nowrap;
  }
  .desktop-nav li ul {
    position: absolute;
    left: -999em;
    height: auto;
    width: 130px;
    background: #FFFFFF;
    font-weight: normal;
    margin: 0;
  }
  .desktop-nav li ul li {
    border-right: 1px solid #009245;
    border-bottom: 1px solid #009245;
    border-left: 1px solid #009245;
  }
  .desktop-nav li ul li:first-child {
    border-top: 1px solid #009245;
  }
  .desktop-nav li li {
    width: 130px;
  }
  .desktop-nav li li a {
    width: 100px;
  }
  .desktop-nav li ul {
    margin: 0;
  }
  .desktop-nav li ul ul {
    margin: -2.8em 0 0 13.5em;
  }
  .ul_ch,
  .desktop-nav li:hover ul ul,
  .desktop-nav li li:hover ul ul {
    left: -999em;
  }
  .desktop-nav li:hover ul,
  .desktop-nav li li:hover ul {
    left: auto;
  }
  .desktop-nav li:hover>ul.ul_ch {
    left: auto;
  }
  .desktop-nav li:hover {
    background-color: #009245;
  }
  .desktop-nav li:hover a, .desktop-nav li:hover a:visited, .desktop-nav li:hover a:hover, .desktop-nav li a:hover {
    color: #ffffff;
  }
  .desktop-nav li:hover li a, .desktop-nav li li:hover li a,
  .desktop-nav li li li:hover li a, .desktop-nav li li li li:hover li a,
  .desktop-nav li:hover li a:visited, .desktop-nav li li:hover li a:visited {
    color: #009245;
  }
  .desktop-nav li li:hover {
    background: #009245;
    z-index: 9999;
  }
  .desktop-nav li li:hover a {
    color: #FFFFFF;
  }
  .desktop-nav ul ul a, .desktop-nav ul ul a:visited,
  .desktop-nav li li a, .desktop-nav li li a:visited {
    color: #009245;
  }
  .desktop-nav ul ul a:hover,
  .desktop-nav li:hover li:hover a, .desktop-nav li:hover li:hover a:visited {
    color: #FFFFff;
  }
  .desktop-nav li:hover li:hover li a, .desktop-nav li:hover li:hover li a:visited {
    color: #009245;
  }
  .desktop-nav .abmelden {
    margin-left: 15px;
    top: 5px;
  }
  .desktop-nav .abmelden:hover {
    background-color: #fff;
  }
  .desktop-nav .abmelden img:hover {
    transform: scale(1);
  }
  .navbar {
    margin-bottom: 5px;
    margin-top: -5px;
    right: 25px;
  }
  .navbar .icon-click {
    margin-top: 0;
  }
  /* Menüseiten */
  .menueinhalt {
    padding-left: 190px;
    padding-right: 190px;
  }
  .menueinhalt.mobil {
    display: none;
  }
  .menueinhalt.desktop {
    background-color: #dedede;
    display: flex;
    flex-wrap: wrap;
    max-width: 760px;
    padding: 0;
    width: calc(100% -40px);
  }
  .menueinhalt.desktop .menuespalte {
    background-color: #fff;
    margin-right: 19px;
    padding: 20px;
    width: calc((100% - 40px) / 3);
  }
  .menueinhalt.desktop .stammdaten.menuespalte {
    margin-right: 0;
  }
  .menueinhalt.desktop .btn {
    height: 60px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 19px;
    width: 100%;
  }
  .menueinhalt.desktop .menue-icon {
    margin-top: 5px;
    width: 20px;
  }
  /* Buchungsseiten */
  .ueberschrift-balken.buchungen {
    margin: 0 auto 20px;
  }
  .ueberschrift-buchungen .ueberschrift-balken-inhalt {
    margin-left: -20px;
  }
  .formular {
    float: left;
    margin-left: calc((100% - 660px) / 2);
  }
  .tabelle {
    float: right;
  }
  table {
    margin-left: 20px;
    width: calc(100% - 40px);
  }
  .ueberschrift-tabelle {
    border: none;
    margin-left: 20px;
  }
  #abgaben-tabelle .ueberschrift-tabelle {
    margin-bottom: 10px;
  }
  .buchungen-wrapper {
    display: flex;
    flex-wrap: wrap
  }
  .buchungen .table {
    max-height: 270px;
  }
  .analyse-formular {
    max-width: 260px;
  }
  .analyse-formular form {
    width: calc(100% - 40px);
  }
  .analysen-tabelle .ueberschrift-tabelle {
    width: 340px;
  }
  .analysen-tabelle .buchungen .table {
    max-height: 450px;
  }
  .betriebe-tabelle .buchungen .table {
    max-height: 580px;
  }
  .analysen-tabelle th, .analysen-tabelle td {
    font-size: 14px;
  }
  /* Auswertungsseiten */
  .links {
    background-color: #fff;
    float: left;
    margin-left: 20px;
    margin-right: 0;
    min-height: 320px;
    width: 320px;
  }
  .links .formular {
    float: none;
    margin-left: 20px;
  }
  .links .tabelle {
    float: none;
    margin-left: 20px;
  }
  .rechts {
    background-color: #fff;
    float: right;
    margin-left: 20px;
    max-width: 420px;
    width: calc(100% - 380px);
  }
  .analysen-tabelle {
    max-width: 480px;
    width: calc(100% - 320px);
  }
  .diagramm-beschriftung {
    margin-left: calc((100% - 280px) / 2);
    padding-left: 0;
    width: initial;
  }
  .kd-abnahmevertraege {
    max-width: 320px;
  }
  .header-container,
  .ueberschrift-balken,
  .header-container,
  .ueberschrift-balken {
    max-width: 760px;
    width: calc(100% - 40px);
  }
  .bd-bilanz {
    padding-top: 80px;
  }
  /* Footer */
  .footer {
    clear: both;
    margin-left: calc((100% - 580px) / 2);
    text-align: left;
  }
}
@media screen and (min-width:800px) {
  .desktop-nav {
    width: 500px;
  }
  .desktop-nav a, .desktop-nav a:visited {
    font-size: 14px;
    padding: 0.7em 0.6em;
  }
  /* Auswertungsseiten */
  .links {
    margin-left: calc((100% - 760px) / 2);
    margin-right: 0;
  }
  .rechts {
    margin-right: 0;
  }
}
@media screen and (min-height:520px) {
  .header-container {
    margin-top: 20px;
  }
}
@media screen and (min-height:660px) {
  .ueberschrift-balken {
    margin-bottom: 20px;
  }
}
@media screen and (min-height:730px) {
  .untermenueinhalt .btn {
    height: 12%;
    max-height: 100px;
  }
  .untermenueinhalt .menue-icon {
    margin-top: 10px;
    width: 40px;
  }
}
@media screen and (min-height:860px) {
  .untermenueinhalt .btn {
    margin-bottom: 20px;
  }
}